<p id="notice"><%= notice %></p>

<p>
  <strong>Action type:</strong>
  <%= @gun_action.action_type %>
</p>

<%= link_to 'Edit', edit_gun_action_path(@gun_action) %> |
<%= link_to 'Back', gun_actions_path %>
